{% comment %} CONTACT US, MAP SECTION {% endcomment %}
<section class="container text-white my-5">
    <div class="row g-4 g-lg-5 row-cols-1 row-cols-xl-2 justify-content-center">

        <div class="col">
            <h2 class="f-sayeh mb-4">راه های ارتباطی با ما:</h2>
            <form action="" method="post">
                <div class="d-flex mb-2">
                    <input type="text" class="col form-control bg-transparent text-white font-17 fw-bold ms-1" placeholder="نام و نام خانوادگی">
                    <input type="email" class="col form-control bg-transparent text-white font-17 fw-bold me-1" placeholder="ایمیل شما">
                </div>

                <textarea class="form-control bg-transparent text-white font-17 fw-bold" placeholder="متن پیام ..." rows="3"></textarea>
                <button type="submit" class="col form-control bg-transparent text-white font-17 fw-bold mt-2"> ارسال <i class="bi bi-send-check font-17"></i> </button>

            </form>
            <div class="d-flex justify-content-around mt-2">
                <span class="font-15"><i class="bi bi-telephone font-15"></i> تفلن: 32221607-084</span>
                <span class="font-15"><i class="bi bi-envelope-at font-15"></i> ایمیل: aliaryu@yahoo.com</span>
            </div>
        </div>

        <div class="col pt-2 pt-xl-5" id="map-responsive">
            <iframe class="custom-border" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2348.7747705363386!2d46.408768786798674!3d33.639812806375204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sde!4v1702346544649!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            
            <h5 class="font-17 f-calibri py-1 d-md-none font-15" id="address">آدرس کافه رستوران آریو</h5>
            <div class="carousel-caption d-none d-md-block">
                <h5 style="background-color: rgba(0, 0, 0, 0.753);" class="font-15 f-calibri py-1">آدرس کافه رستوران آریو</h5>
            </div>

        </div>

    </div>
</section>