# I will upload all the files, including the database and migration,
# because I want you to watch the project with test data.

__pycache__/
*.pyc

# migrations/
# !migrations/__init__.py

# *.sqlite3
