{% extends "base.html" %}

{% block sloganh1 %}
کافه رستوران آریو
{% endblock sloganh1 %}

{% block sloganp %}
مزه های دوست داشتنی ، مثل خونه مامان <span>p:</span>
{% endblock sloganp %}

{% block body %}

    {% comment %} MENU SECTION {% endcomment %}
    <section id="section-menu" class="container text-white my-5">

        <h2 class="text-center f-sayeh mb-4">آماده پذییرایی از شما هستیم <i class="bi bi-balloon-heart font-30"></i></h2>

        <!-- ITEM DIV -->
        <div class="mx-3 mx-sm-4 mx-md-4 mx-lg-5 mx-xl-5 mx-xxl-5">
            <div class="mx-3 mx-sm-4 mx-md-4 mx-lg-5 mx-xl-5 mx-xxl-5">
                <div class="mx-2 mx-sm-3 mx-md-4 mx-lg-4 mx-xl-4 mx-xxl-5">
                    <div class="mx-2 mx-sm-3 mx-md-4 mx-lg-4 mx-xl-4 mx-xxl-5">
                        <div class="mx-1 mx-sm-1 mx-md-1 mx-lg-1 mx-xl-1 mx-xxl-5">

                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/fast-food.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">ساندویچ و پیتزا</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/noodles.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">نودل و پاستا</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/sweets.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">دسر و بستنی</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/salad.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">سالاد و مخلفات</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/hot-drinks.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">نوشیدنی گرم</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/lemonade.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">نوشیدنی سرد</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="#">
                        
                                        <img class="card-img-top rounded-circle bg-black" src="static/images/menu-icons-white/chef.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20">پیشنهاد سرآشپز</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- DELIVERY DIV -->
        <div class="mx-3 mx-sm-4 mx-md-4 mx-lg-5 mx-xl-5 mx-xxl-5">
            <div class="mx-3 mx-sm-4 mx-md-4 mx-lg-5 mx-xl-5 mx-xxl-5">
                <div class="mx-2 mx-sm-3 mx-md-4 mx-lg-4 mx-xl-4 mx-xxl-5">
                    <div class="mx-2 mx-sm-3 mx-md-4 mx-lg-4 mx-xl-4 mx-xxl-5">
                        <div class="mx-1 mx-sm-1 mx-md-1 mx-lg-1 mx-xl-1 mx-xxl-5">

                            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                                <div class="col mb-3">
                                    <a class="card h-100 text-decoration-none bg-black" href="order.html">
                        
                                        <img class="card-img-top bg-black" src="static/images/menu-icons-white/delivery-man.png" alt="...">
                                        <div class="card-body p-1">
                                            <div class="text-center">
                                                <h5 class="fw-bolder text-white font-20 position-absolute text-no-wrap">همین حالا سفارش دهید p;</h5>
                                            </div>
                                        </div>
                        
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>




{% endblock body %}