@font-face {
    font-family: "sayeh";
    src: url("../fonts/Mj\ Sayeh\ 2.ttf");
}
@font-face {
    font-family: "calibri";
    src: url("../fonts/Calibri.ttf");
}

:root {
    --shadow-black: 1px 1px 5px rgb(0, 0, 0);
  }
  
* {
    font-family: "calibri";
    font-weight: bold;
    font-size: 20px;

    text-shadow: var(--shadow-black);
}

body {
    background-color: black;
}


.font-30 {
    font-size: 30px;
}

.font-20 {
    font-size: 20px;
}

.font-17 {
    font-size: 17px;
}

.f-sayeh {
    font-family: "sayeh";
    font-weight: bold;
    text-shadow: var(--shadow-black);
}

.f-calibri {
    font-family: "calibri";
    font-weight: bold;
    text-shadow: var(--shadow-black);
}

#logo {
    background-image: url("../images/coffee-cup.png");
    background-position: center center;
    background-size: cover;              
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    position: relative;
    top: -10px;

    animation: rotate 4s forwards infinite 2s;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    20% {
        transform: rotate(25deg)
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
}

.bg-opacity-half {
    background-color: rgba(255, 255, 255, 0.089);
}

#header {
    background-image: url("../images/background-cafe.jpeg");
    background-position: center top;
    background-size: cover;
    background-color: #464646;
}

.delete-outline:focus {
    box-shadow: none;
}

.menu-animation {
    animation: shake 4.3s forwards infinite;
}

@keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    5% {
        transform: rotate(3deg)
    }
    10% {
        transform: rotate(-6deg);
    }
    15% {
        transform: rotate(0deg);
    }
}

#background-cafe {
    background-image: url("../images/IMG_8641.webp");
    /* background-repeat: no-repeat; */
    background-position: center bottom;
    background-attachment: fixed;
    /* background-size: cover; */
}

body {
    height: 1000vh;
}

.absolute-title {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

.absolute-items {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s ease;
}

#div-items > .col {
    box-shadow: 0 0 0 1px #5c5c5c;
    margin: -0.3px;
    position: relative;
}

.icon-eye {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* در ابتدا مخفی است */
    background: url('آدرس-تصویر-آیکون') no-repeat center center; /* آدرس تصویر آیکون را جایگزین کنید */
    width: 40px; /* عرض آیکون */
    height: 40px; /* ارتفاع آیکون */
    background-size: cover; /* تنظیمات سایز تصویر */
    transition: opacity 0.3s ease; /* انیمیشن برای تغییر شفافیت */
}

.absolute-items:hover > .icon-eye {
    opacity: 1;
}

.absolute-items:hover {
    background-color: rgba(0, 0, 0, 0.514);
    /* cursor: pointer; */
}

