{% extends "core.html" %}
{% load static %}

{% block all %}

    {% comment %} HEADER SITE, NAVS {% endcomment %}
    <div>
        <header id="header">

            <!-- NAV USER, SOCIAL MEDIAS -->
            <nav class="navbar navbar-expand-lg p-0">
                <div class="container justify-content-center justify-content-md-between">

                    <div>
                        {% if user.is_authenticated %}
                            <a class="navbar-brand btn text-white font-20 rounded-0 m-0 f-calibri border-0" href="{% url "app_account:logout_page" %}">خروج <i class="bi bi-box-arrow-left"></i> </a>
                            <a class="navbar-brand btn text-white font-20 rounded-0 m-0 f-calibri border-0" href=""> {{ user.get_full_name }} <i class="bi bi-person-circle"></i> </a>
                        {% else %}
                            <a class="navbar-brand btn text-white font-20 rounded-0 m-0 f-calibri border-0" href="{% url "app_account:login_page" %}">ورود <i class="bi bi-box-arrow-in-left"></i> </a>
                            <a class="navbar-brand btn text-white font-20 rounded-0 m-0 f-calibri border-0" href="{% url "app_account:signup_page" %}">ثبت نام <i class="bi bi-person-add"></i> </a>
                        {% endif %}

                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 f-calibri border-0" href="card.html">سبد خرید <i class="bi bi-cart text-white"></i> </a>

                    </div>

                    <div>
                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 border-0" href="#"> <i class="bi bi-telephone"></i> </a>
                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 border-0" href="#"> <i class="bi bi-envelope-at"></i> </a>
                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 border-0" href="https://discord.gg/T9ExvTpGhQ"> <i class="bi bi-discord"></i> </a>
                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 border-0" href="#"> <i class="bi bi-github"></i> </a>
                        <a class="navbar-brand btn text-white font-20 rounded-0 m-0 border-0" href="#"> <i class="bi bi-instagram"></i> </a>
                    </div>
    
                </div>
            </nav>

            <!-- NAV WEBSITE -->
            <nav class="navbar navbar-expand-lg bg-opacity-half">
                <div class="container">

                  <a class="navbar-brand d-flex f-sayeh text-white font-30 pt-3" href="#">کافه رستوران آریو<i id="logo"></i></a>

                  <button class="navbar-toggler border-0 delete-outline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list text-white  fs-4"></i>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-0 d-flex justify-content-center align-items-center">
                      <li class="nav-item">
                        <a class="nav-link active text-white " aria-current="true" href="#">صفحه اصلی</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white " aria-disabled="true" href="order.html">سفارش آنلاین</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active text-white " aria-disabled="true" href="#">درباره ما</a>
                      </li>
                    </ul>

                  </div>

                </div>
            </nav>

            <!-- SLOGAN -->
            <div class="container p-5 p-lg-5">
                <div class="text-center">
                    <h1 class="display-4 text-white f-sayeh">{% block sloganh1 %}{% endblock sloganh1 %}</h1>
                    <p class="lead mb-0 text-white fw-bold f-sayeh">{% block sloganp %}{% endblock sloganp %}</p>
                </div>
            </div>

        </header>
    </div>

    {% block body %}{% endblock body %}

    {% comment %} FOOTER {% endcomment %}
    <footer class="container-fluid text-white my-5 p-0 bg-opacity-half position-relative" id="background-footer">
        <div class="container justify-content-center py-5">

            <div class="row g-4 g-lg-5 row-cols-1 row-cols-xl-2 justify-content-center">

                <!-- LINKS DIV -->
                <div class="col d-flex justify-content-around">
                    <ul class="p-3 m-0">
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">درباره ما</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">تماس با ما</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">توسعه دهندگان</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">حریم خصوصی</a></li>
                    </ul>

                    <ul class="p-3 m-0">
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">سفارش آنلاین</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">دسته بندی ها</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">تخفیف خورده ها</a></li>
                        <li class="nav-item mb-2 font-17"><a href="#" class="nav-link p-0 text-white">رویداد های آریو</a></li>
                    </ul>
                </div>

                <!-- NEWSLETTER DIVE -->
                <div class="col mt-2 mt-xl-5 d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <h2 class="font-25 f-calibri">عضویت در خبرنامه</h2>
                        <p class="f-calibri font-17">از آخرین رویداد ها و کد های تخفیف با خبر شوید.</p>
                        <form class="d-flex flex-column flex-sm-row gap-2">
                            <input type="email" class="form-control bg-transparent text-white font-17 fw-bold" placeholder="ایمیل شما">
                            <button type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-light bg-transparent text-white font-17 fw-bold">
                                عضویت 
                                <i class="bi bi-bookmark font-15 mx-1"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>

            <div class="d-flex  flex-row justify-content-between align-items-center pt-4 mt-4 border-top">
                <p class="font-17 m-0">© پاییز 1402 ، ساخته شده توسط:
                    <a class="font-17 text-white " href="https://github.com/aliaryu/">aliaryu@</a>
                </p>
                <span class="d-flex align-items-center">
                    <i class="bi bi-stars font-25"></i>
                    <img src="{% static "images/icons/coffee-cup.png" %}" alt="coffee-cup" width="30px" height="30px">
                </span>
            </div>

            <button class="font-17 text-white btn btn-outline-light px-2 py-1 position-absolute" style="bottom: -21px;" id="scroll-to-top">
                <i class="bi bi-caret-up"></i>
            </button>

        </div>
    </footer>

{% endblock all %}