{% load static %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="icon" type="image/x-icon" href="{% static "images/icons/coffee-cup-black.png" %}">
    <title>Cafe Restaurant Aryu</title>
</head>
<body>

    {% block all %}{% endblock all %}

</body>
{% block javascript %}{% endblock javascript %}
</html>