{% extends "base.html" %}

{% block body %}
<section class="container-fluid py-5">
    <div class="container-lg">
        
        <section>
            <div class="container">
              <div class="row gx-5">

                <!-- IMAGE -->
                <aside class="col-lg-6 px-2">
                  <div class=" rounded-4 mb-3 d-flex justify-content-center" style="background-color: #000000;">
                      <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit custom-border" src="{{ item.image.url }}" />
                  </div>
                </aside>

                <main class="col-lg-6 row align-items-center">
                  <div class="ps-lg-3">

                    <!-- TITLE -->
                    <h4 class="font-30 text-white fw-bold">{{ item.item_name }}</h4>

                    <!-- INFO -->
                    <div class="mb-3">
                      <span class="text-secondary font-25">{{ item.price }}</span>
                    </div>
                    
                    <!-- DESCRIPTION -->
                    <p class="font-17 text-white">
                        {{ item.description }}
                    </p>
                    
                    <div class="mb-3">
                        <span class="text-white font-17">{{ item.like }} نفر این سَم را پسند کرده اند.</span>
                    </div>
                    
                    <!-- BUTTONS -->
                    
                    <span class="btn bg-transparent border f-calibri text-white font-17"
                    onclick="showSuccess()"> اضافه کردن به سبد خرید <i class="bi bi-cart3"></i> </span>
                    <a href="{{ item.get_like_url }}" class="btn bg-transparent border f-calibri text-white font-17"> پسندیدن <i class="bi bi-suit-heart"></i> </a>

                  </div>
                </main>

              </div>
            </div>
        </section>

    </div>
</section>
{% endblock body %}
